body {
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Roboto", sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction:column;
}

.header,
.block-one,
.footer {
    background-color: #1f2937;
    color: white;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
}

.logo {
    font-size: 14px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
    font-size: 12px;
}

.do-it,
.press {
    height: 24px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    flex-shrink: 0;
    border-radius: 50%;
}

.press {
    background-color: aqua;
}
.block-one {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hero{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.hero-title {
    font-size: 32px;
    font-weight: bold;
}

.hero-text {
    font-size: 12px;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.block-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    margin-bottom: 20px;
}

.info-head {
    margin-bottom: 32px;
    font-size: 18px;
    font-weight: bold;
}

.nodes {
    display: flex;
    gap: 32px;
}

.square {
    height: 75px;
    width: 75px;
    border: 2px solid blue;
}

.block-three {
    background-color: #e5e7eb;
    padding: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    font-size: 18px;
    font-style: italic;
}

.person {
    font-size: 14px;
    font-weight: bold;
}

.block-four {
    background-color: aqua;
    padding: 16px;
    margin: 32px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left {
    color: white;
}

.text-head {
    font-size: 16px;
    font-weight: bold;
}

.text {
    font-size: 14px;
}